{% extends "dash/frame.html" %}
{% block content %}
    {% block body_block %}
        {% csrf_token %}
    {% endblock %}

    {% load static %}

    {% block title %}
        <h1>welcome to Adminpage:</h1>
    {% endblock %}

    {% block body %}
        <form method='POST' class="post-form">
            {%csrf_token%}
            {{form.as_p}}
            <input type ='submit' value='Post' class="btn btn-primary">
        </form>
    {% endblock %}

    {% block footer %}
       <h3> <a href="{% url 'dash:logout' %}">{{ logout }}logout</a></h3>
    {% endblock %}
{% endblock %}